.carousel{
	top: 50px; width: 70%; height: auto;
	margin: auto;
}
.description{
	color: white;
	text-shadow: 0 0 6px black;
}
.nav-container{
	width: 100%;
	position: fixed;
	z-index: 1;
}
.loginform{
	margin-left: 1%;
}